global_defs {
  notification_email {
  }
  router_id LVS_DEVEL
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}
   
vrrp_script chk_haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}
   
vrrp_instance haproxy-vip {
  state BACKUP
  priority 100
  interface eth0                # Network card
  virtual_router_id 60
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ with secret "kv-v2/infrastructure/keepalived" }}{{.Data.data.password}}{{end}}
  }
  unicast_src_ip {{ env "attr.unique.network.ip-address" }}      # The IP address of this machine
  unicast_peer {
    10.0.1.15                   # The IP address of peer machines
  }
   
  virtual_ipaddress {
    10.0.1.14/24                # The VIP address
  }
   
  track_script {
    chk_haproxy
  }
}

